<header>
    <section class="top d-flex align-items-center justify-content-between">
        <div class="logo"><img alt="logo" src="assets/images/logo.svg" /></div>
        <div class="searchbar d-flex align-items-center">
            <div class="icon"><img alt="search" src="assets/images/home/search.svg" /></div>
            <input class="text-grey-1 medium-text" placeholder="Search Documentation..." />
        </div>
        <div class="action-buttons medium-text">
            <a class="text-purple-1">Create account</a>
            <a>Sign in</a>
        </div>
    </section>
    <section class="d-flex align-items-center justify-content-between">
        <div class="main-links text-black-2 d-flex align-items-center justify-content-start">
            <h1 class="active-link">Home</h1>
            <h1>Airtime</h1>
            <h1>Gift Cards</h1>
            <h1>Developer Tools</h1>
            <h1>Security</h1>
            <h1>All Products</h1>
        </div>
        <div class="other-links text-black-2 d-flex align-items-center justify-content-start">
            <h2 class="d-flex align-items-center">
                <div class="icon"><img src="assets/images/home/API.svg" /></div>
                APIs & SDKs
            </h2>
            <h2 class="d-flex align-items-center">
                <div class="icon"><img src="assets/images/home/support.svg" /></div>
                Support
            </h2>
        </div>
    </section>
</header>