@font-face {
    font-family: "Futura";
    src: local("Futura"), url(../assets/fonts/Futura/Futura-Medium.ttf) format("truetype");
}

header {
    display: flex;
    flex-wrap: wrap;
    font-family: "Futura";
    margin: auto 0;
    background-color: #f2f2f2;
    border-bottom: 2px solid #e6e6e6;
}

.reloadly-logo-header {
    display: flex;
    width: 20vw;
    justify-content: left;
    margin: auto 0;   
}

.reloadly-logo-header img {
    width: 8vw;
    height: fit-content;
}

.reloadly-logo-header p {
    color: #6ae8ff;
    font-size: x-large;
    margin: 3px 0 0 5px;
}

.upper-header form {
    margin: auto 0;
}

.search-header {
    background: white url(https://res.cloudinary.com/reloadlydevelopers/image/upload/c_scale,w_15/v1650550619/search-26272_nhuros.png) right no-repeat;
    background-origin: content-box;
    padding: 8px 16px;
    width: 30vw;
    box-shadow: 0 0 50px #ccc;
    border: none;
    border-radius: 25px;
}

.search-header::placeholder {
    color: #a7b8c0;
}

.signup-header {
    display: flex;
    width: 15vw;
    justify-content: space-between;
}

.signup-header a {
    color: #7700ff;
    font-size: medium;
    cursor: pointer;
    text-decoration: none;
}


.signup-header button {
    background-color: #00163a;
    border: none;
    border-radius: 25px;
    padding: 8px 18px 8px 18px;
    height: fit-content;
    margin: auto 0;
    cursor: pointer;
}

.signup-header button a {
    font-size: small;
    color: #ffffff;
    text-decoration: none;
}

/* .routes-header {
    
} */

.routes-header a {
    cursor: pointer;
}

.routes-header a+a {
    margin-left: 20px;
}

.rest-of-header {
    display: flex;
    width: 16vw;
    justify-content: space-between;
   
}

.rest-of-header img {
    width: 1.5vw;
    margin-right: 7px;
}

.rest-of-header a {
    margin-top: 5px;
    cursor: pointer;
}

.upper-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    margin: 0 20px;
}
.lower-header {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    font-size: medium;
    margin: 30px 20px 3px 20px;
}