<header>
    <div class="upper-header">
    <section class="reloadly-logo-header">
    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650633911/reloadly_logo_ggfbbz.jpg"/>
    <p>DOCS</p>
    </section>
    <form>
        <input type="text" placeholder="Search documentation..." name="search" class="search-header">
    </form>
    <section class="signup-header">
    <p>API Reference</p>
    <button>Sign up</button>
    </section>
    </div>
    <div class="lower-header">
        <section class="routes-header">
            <a>Home</a>
            <a>Airtime</a>
            <a>Gift Cards</a>
            <a>Developer Tools</a>
            <a>Security</a>
            <a>All products</a>
        </section>
        <section class="rest-of-header">
            <div>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650646150/API_axumwb.png"/>
                <a>APIs & SDKs</a>
            </div>
            <div>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650646150/support_nugpdt.png"/>
                <a>Support</a>
            </div>
        </section>
    </div>
</header>