<header>
    <div class="upper-header">
    <section class="reloadly-logo-header">
    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650633911/reloadly_logo_ggfbbz.jpg"/>
    <p>DOCS</p>
    </section>
    <form>
        <input type="text" placeholder="Search documentation..." name="search" class="search-header">
    </form>
    <section class="signup-header">
    <p><a href="https://rotten-turkey-17.redoc.ly/" target="_blank">API Reference</a></p>
    <button><a href="https://reloadly.auth0.com/login?state=hKFo2SBPQmFtaHZoRnJFeDZJZC10bHVmNXhGbG1tR0NDYy1icKFupWxvZ2luo3RpZNkgZVRsNnlKY2VFOF8tWUtfeXlGbE5hRlVDcG9PSFVBSUOjY2lk2SBRajU1SHZFdDQ4SmZWY0hNNXQxR2dOWnA0QnlKc2p2UQ&client=Qj55HvEt48JfVcHM5t1GgNZp4ByJsjvQ&protocol=oauth2&audience=https%3A%2F%2Fportal.reloadly.com&redirect_uri=https%3A%2F%2Fwww.reloadly.com%2Floading&responseType=code&scope=openid%20profile%20email%20developer%20reseller%20team-member-finance%20team-member-developer%20offline_access&amp_device_id=2382c705-6441-4f2c-910e-8537b54c948dR&response_type=code&response_mode=query&nonce=TnpHdEZsQmFjLnlKWGJ1bFNfUHZSNVhfbF9vR0QyLklQQ2o4WXNqNTRCeQ%3D%3D&code_challenge=fWmnAjOxvDCGMEyJr6erxry6y8Sa7cBgHVRGV66e0Ww&code_challenge_method=S256&auth0Client=eyJuYW1lIjoiYXV0aDAtc3BhLWpzIiwidmVyc2lvbiI6IjEuMjEuMSJ9" target="_blank">Sign in</a></button>
    </section>
    </div>
    <div class="lower-header">
        <section class="routes-header">
            <a>Home</a>
            <a>Airtime</a>
            <a>Gift Cards</a>
            <a>Developer Tools</a>
            <a>Security</a>
            <a>All products</a>
        </section>
        <section class="rest-of-header">
            <div>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650646150/API_axumwb.png"/>
                <a>APIs & SDKs</a>
            </div>
            <div>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650646150/support_nugpdt.png"/>
                <a>Support</a>
            </div>
        </section>
    </div>
</header>