<div class="overview-page">
    <section class="hero-section-1 bg-white d-flex flex-column align-items-start">
        <h2 class="text-black-1">Utility Payments</h2>
        <p class="page-description text-black-5">
            Employ Reloadly’s resources to make electricity, water, and general utility payments.
        </p>
        <div class="external-content text-black-5">
            <span>
                Not ready to make the push to production yet? Check out alternatives for getting started
            </span>
            <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
        </div>
    </section>

    <section class="bg-white section-type-1">
        <h3 class="text-black-3">Popular guides</h3>
        <div class="section-list d-flex align-items-start justify-content-between">
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/utility/overview/utility-payment.png" />
                </div>
                <a class="text-purple-1">
                    Make a utility payment
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    Build a utility payments app to make payments to your local utility payments provider.
                </p>
                <p class="text text-black-2">Utility Payments</p>
            </div>
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/utility/overview/payment-providers.png" />
                </div>
                <a class="text-purple-1">
                    Access bill payment providers
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    Research utility payment providers within your location.
                </p>
                <p class="text text-black-2">Orders</p>
            </div>
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/utility/overview/transaction-info.png" />
                </div>
                <a class="text-purple-1">
                    Survey transaction information
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    View information on your utility payment transactions.
                </p>
                <p class="text text-black-2">Transactions</p>
            </div>
        </div>
    </section>

    <section class="bg-white section-type-2">
        <h3>Clone a sample project</h3>
        <div class="section-list d-flex align-items-stretch justify-content-start">
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Build a utility payments app</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Web</span>
                    ·
                    <span>Svelte</span>
                    ·
                    <span>Node JS</span>
                </p>
            </div>
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Build a utility payments provider app</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Web</span>
                    ·
                    <span>Vue</span>
                    ·
                    <span>Python</span>
                </p>
            </div>
        </div>
        <a class="external-link text-purple-1 d-flex align-items-center">
            View all on GitHub
            <img alt="external link" src="assets/images/external-link.svg" />
        </a>
    </section>

    <div class="skewed-section">
        <section class="section-type-3">
            <h3>After making a utility payment</h3>
            <div class="section-list d-flex align-items-stretch justify-content-start">
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/topup-status.svg" />
                    </div>
                    <h4 class="text-black-5">Get transaction status</h4>
                    <p class="text-black-5">
                        Obtain the status of a utility payment transaction.
                    </p>
                </div>
                <div class="quickstart-box">
                    <app-quickstart-box></app-quickstart-box>
                </div>
            </div>
        </section>

        <section class="more-section">
            <h3>More guides</h3>
            <div class="more-list d-flex align-items-start justify-content-start">
                <div class="link-item text-purple-1 d-flex flex-column align-items-start">
                    <h4 class="text-black-2">Integrations</h4>
                    <a>Countries</a>
                    <a>Operators</a>
                    <a>FX Rate</a>
                    <a>Promotions</a>
                    <a>Top-ups</a>
                    <a>Transactions</a>
                    <a>Number lookup</a>
                </div>
                <div class="link-item text-purple-1 d-flex flex-column align-items-start">
                    <h4 class="text-black-2">Tools</h4>
                    <a>Postman Collection</a>
                    <a>Sandbox</a>
                    <a>SDKs</a>
                    <a>Plugins</a>
                </div>
                <div class="link-item text-purple-1 d-flex flex-column align-items-start">
                    <h4 class="text-black-2">Products</h4>
                    <a>Airtime</a>
                    <a>Gift Cards</a>
                    <a>Utility Payments</a>
                </div>
            </div>
        </section>

        <app-footer [showLikeDisLikeButtons]="true"></app-footer>

        <!-- background -->
        <div class="background">
            <!-- <div class="skewed-rectangle"></div> -->
            <img src="assets/images/skewed-background.svg" />
        </div>

    </div>

</div>