<div class="overview-page">
    <section class="hero-section-1 bg-white d-flex flex-column align-items-start">
        <h2 class="text-black-1">Giftcards</h2>
        <p class="page-description text-black-5">
            Learn how to integrate Reloadly’s digital gift card APIs to your applications.
        </p>
        <div class="external-content text-black-5">
            <span>
                Not ready to make the push to production yet? Check out alternatives for ordering gift card without code
            </span>
            <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
        </div>
    </section>

    <section class="bg-white section-type-1">
        <h3 class="text-black-3">Popular guides</h3>
        <div class="section-list d-flex align-items-start justify-content-between">
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/giftcards/overview/order-giftcards.png" />
                </div>
                <a class="text-purple-1">
                    Order a gift card
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    Build a gift card app or use a prebuilt gift card solution to order a gift card.
                </p>
                <p class="text text-black-2">Gift card</p>
            </div>
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/giftcards/overview/access-codes.png" />
                </div>
                <a class="text-purple-1">
                    Access redeem codes
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    View and issue redeem codes for every gift card order.
                </p>
                <p class="text text-black-2">Orders</p>
            </div>
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/giftcards/overview/discounts.png" />
                </div>
                <a class="text-purple-1">
                    Retrieve discount information
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    View information on the largest discounts available on every gift card brand.
                </p>
                <p class="text text-black-2">Discounts</p>
            </div>
        </div>
    </section>

    <section class="bg-white section-type-2">
        <h3>Clone a sample project</h3>
        <div class="section-list d-flex align-items-stretch justify-content-between">
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Build a giftcard app</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Web</span>
                    ·
                    <span>Svelte</span>
                    ·
                    <span>Node JS</span>
                </p>
            </div>
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Build a discount viewer app</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Web</span>
                    ·
                    <span>Vue</span>
                    ·
                    <span>Python</span>
                </p>
            </div>
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Send giftcard promo notifications</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Mobile</span>
                    ·
                    <span>React Native</span>
                </p>
            </div>
        </div>
        <a class="external-link text-purple-1 d-flex align-items-center">
            View all on GitHub
            <img alt="external link" src="assets/images/external-link.svg" />
        </a>
    </section>

    <div class="skewed-section">
        <section class="section-type-3">
            <h3>After ordering a gift card</h3>
            <div class="section-list d-flex align-items-stretch justify-content-between">
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/topup-status.svg" />
                    </div>
                    <h4 class="text-black-5">Get transaction status</h4>
                    <p class="text-black-5">
                        Fetch the status of a gift card transaction
                    </p>
                </div>
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/transaction-data.svg" />
                    </div>
                    <h4 class="text-black-5">View redeem code</h4>
                    <p class="text-black-5">
                        Send redeem codes or PIN codes to your
                        customers after they purchase a gift card
                    </p>
                </div>
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/decline.svg" />
                    </div>
                    <h4 class="text-black-5">Handling declines</h4>
                    <p class="text-black-5">
                        Learn more about causes and how to navigate them
                    </p>
                </div>
            </div>
        </section>

        <app-quickstart-box></app-quickstart-box>

        <app-footer [showLikeDisLikeButtons]="true"></app-footer>

        <!-- background -->
        <div class="background">
            <!-- <div class="skewed-rectangle"></div> -->
            <img src="assets/images/skewed-background.svg" />
        </div>

    </div>

</div>