.button-primary {
    height: 47px;
    background: var(--purple-1);
    font-size: 16px;
    color: white;
    border: none;
    padding: 0 45px;
    box-shadow: 5px 15px 20px #71717129;
    border-radius: 26px;
    img {
        width: 15px;
        position: relative;
        left: 0;
        margin-left: 15px;
    }
}
