.bg-purple-1 {
    background: var(--purple-1);
}
.bg-purple-2 {
    background: var(--purple-2);
}
.bg-grey-2 {
    background: var(--grey-2);
}
.bg-blue-2 {
    background: var(--blue-2);
}
.bg-white {
    background: var(--white);
}
