// Colors
:root {
    --purple-1: #7700ff;
    --black-1: #161c22;
    --black-2: #2b343b;
    --black-3: #232d3d;
    --black-4: #334054;
    --black-5: #606a7a;
    --grey-1: #a6b7bf;
    --grey-2: #f6f8fc;
    --blue-1: #e1ebff;
    --white: #ffffff;
}
