<footer class="">
    <div class="top" *ngIf="showLikeDisLikeButtons">
        <h4 class="text-black-3 d-inline-flex flex-column flex-md-row align-items-start align-items-md-center">
            Was this page helpful?
            <div class="votes">
                <img src="assets/images/like-button.svg" />
                <img src="assets/images/dislike-button.svg" />
            </div>

        </h4>
    </div>
    <div class="bottom d-flex flex-column flex-md-row align-items-start align-items-md-end justify-content-between">
        <div class="left">
            <p class="text-black-5">
                <img src="assets/images/home/mail.svg" />
                Questions?
                <span class="text-purple-1">Contact us</span>
            </p>
            <p class="text-black-5">
                <img src="assets/images/home/video.svg" />
                View developer tutorials on
                <span class="text-purple-1">Youtube</span>
            </p>
        </div>
        <div class="right">
            <p class="text-black-5">Sign up for developer updates:</p>
            <div class="input-box d-flex align-items-center justify-content-between">
                <input placeholder="Email" class="text-black-6" />
                <span class="text-purple-1">Subscribe</span>
            </div>
        </div>
    </div>
</footer>