<div class=" page d-flex align-items-start justify-content-between">
    <div class="sidebar-container text-black-5">
        <p routerLink="overview" routerLinkActive="active">Overview</p>
        <p>Quickstart</p>
        <p>Gift card wallet</p>
        <p>Brands and products</p>
        <p>Operators</p>
        <p>Discounts</p>
        <p>Reedem intructions</p>
        <p>Order a gift card</p>
        <p>Transactions</p>
        <p>Tutorials</p>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>