<header class="bg-white">
    <section class="top d-flex align-items-center justify-content-between">
        <div class="logo"><img alt="logo" src="assets/images/logo.svg" /></div>
        <div class="searchbar d-flex align-items-center justify-content-center">
            <div class="icon"><img alt="search" src="assets/images/home/search.svg" /></div>
            <input class="text-grey-1 medium-text" placeholder="Search Documentation..." />
        </div>
        <div class="action-buttons medium-text">
            <a class="text-purple-1">Create account</a>
            <a>Sign in</a>
        </div>
    </section>
    <section class="d-flex align-items-center justify-content-between">
        <div class="main-links text-black-2 d-flex align-items-center justify-content-start">
            <h1 routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active-link">Home</h1>
            <h1 routerLink="/airtime" routerLinkActive="active-link">Airtime</h1>
            <h1 routerLink="/gift-cards" routerLinkActive="active-link">Gift Cards</h1>
            <h1 routerLink="/utility-payments" routerLinkActive="active-link">Utility Payments</h1>
            <h1 routerLink="/developer-tools" routerLinkActive="active-link">Developer Tools</h1>
            <h1 routerLink="/security" routerLinkActive="active-link">Security</h1>
            <h1 routerLink="/all-products" routerLinkActive="active-link">All Products</h1>
        </div>
        <div class="other-links text-black-2 d-flex align-items-center justify-content-start">
            <h2 class="d-flex align-items-center">
                <div class="icon"><img src="assets/images/home/API.svg" /></div>
                APIs & SDKs
            </h2>
            <h2 class="d-flex align-items-center">
                <div class="icon"><img src="assets/images/home/support.svg" /></div>
                Support
            </h2>
        </div>
    </section>
</header>