<div class="overview-page security d-flex flex-column justify-content-between">
    <div class="top">
        <section class="hero-section-1 d-flex flex-column align-items-start">
            <h2 class="text-black-1">Multi-Factor Authentication </h2>
            <p class="page-description text-black-5">
                We’ve taken additional steps to ensure that every user’s account is secure and accessible to them only.
                This is made possible through our two-factor authentication infrastructure which works with multiple
                authentication providers.
            </p>
        </section>

        <section class="content d-flex flex-column align-items-center">
            <h3 class="text-black-3">What is two-factor authentication?</h3>
            <p class="content-description text-black-5">
                Two-factor authentication (2FA) is a way of establishing access to an online account or computer system
                that
                requires the user to provide two different types of information. It provides the system you’re trying to
                access with additional evidence that you are the rightful owner of the account.
            </p>
            <h3 class="text-black-3">Enabling 2FA on your Reloadly account.</h3>
            <p class="content-description text-black-5">
                On your Reloadly dashboard, navigate to the Security section on the sidebar:
            </p>
            <div class="image">
                <img src="assets/images/security/multi-factor/enable-auth.png" />
            </div>
            <p class="content-description text-black-5">
                Similar to the image below, you will see a section with details of how 2FA works and the security
                applications supported by Reloadly’s infrastructure ( Google Authentication, Authy, Auth0 Guardian, and
                DUO ). Click on the Enable button, this enables two-factor authentication on your account.
            </p>
            <p class="content-description text-black-5">
                On clicking the Enable button, you will get a notification on the dashboard informing you that the
                two-factor authentication security measure has been enabled.
            </p>
            <div class="image">
                <img src="assets/images/security/multi-factor/auth-success.png" />
            </div>
            <p class="content-description text-black-5">
                As an additional security measure, you will also get an email from the Reloadly team informing you of
                this change.
            </p>
            <div class="image small-image-1">
                <img src="assets/images/security/multi-factor/auth-email.png" />
            </div>
            <h3 class="text-black-3">Using two-factor authentication on your Reloadly account </h3>
            <p class="content-description text-black-5">
                After enabling the 2FA feature, you will be redirected to log in. When using the 2FA feature for the
                first time, there will be an option on the screen to scan a QR code using one of the authentication
                applications mentioned earlier
            </p>
            <div class="image small-image-3">
                <img src="assets/images/security/multi-factor/auth-login.png" />
            </div>
            <p class="content-description text-black-5">
                The following apps can be used to set up an authentication process and scan the QR code:
            </p>
            <ul class="text-black-5">
                <li>Google Authenticator</li>
                <li>Auth0 Guardian</li>
                <li>DUO Mobile</li>
                <li>Authy</li>
            </ul>
            <h3 class="text-black-3">Disabling 2FA on your Reloadly account </h3>
            <p class="content-description text-black-5">
                To disable this feature, navigate to the dashboard and disable the feature in the Security section:
            </p>
            <div class="image">
                <img src="assets/images/security/multi-factor/disable-auth.png" />
            </div>
            <p class="content-description text-black-5">
                On clicking the disable button, you will see a notification informing you that 2FA has been disabled:
            </p>
            <div class="image small-image-2">
                <img src="assets/images/security/multi-factor/auth-disabled.png" />
            </div>
            <p class="content-description text-black-5">
                You will also receive an email from our team informing you of this update
            </p>
            <div class="image small-image-2">
                <img src="assets/images/security/multi-factor/auth-disabled-mail.png" />
            </div>
        </section>
    </div>

    <div class="skewed-section">

        <app-footer [showLikeDisLikeButtons]="true"></app-footer>

        <!-- background -->
        <div class="background bg-grey-2"></div>
    </div>
</div>