main {
    width: 100%;
    position: relative;
    .header-content {
        width: 100%;
        padding: 0 var(--small-side-padding);
        @media screen and (max-width: 540px) {
            // width: 80%;
        }
    }
    .body-content {
        width: 100%;
        @media screen and(max-width: 1024px) {
            margin-top: 65px;
        }
    }
}
