<div class="quickstart-box">
    <h4>Jump to a Quickstart in the language of your choice</h4>
    <div class="list d-flex flex-wrap align-items-start justify-content-start">
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            PHP
            <img src="assets/images/arrow-up-left.svg" />
        </p>
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            Ruby
            <img src="assets/images/arrow-up-left.svg" />
        </p>
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            curl
            <img src="assets/images/arrow-up-left.svg" />
        </p>
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            Node
            <img src="assets/images/arrow-up-left.svg" />
        </p>
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            Python
            <img src="assets/images/arrow-up-left.svg" />
        </p>
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            Java
            <img src="assets/images/arrow-up-left.svg" />
        </p>
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            Go
            <img src="assets/images/arrow-up-left.svg" />
        </p>
        <p class="bg-purple-2 text-purple-1 d-flex align-items-center">
            C#
            <img src="assets/images/arrow-up-left.svg" />
        </p>
    </div>
</div>