<div class="page-content d-flex align-items-start justify-content-between">
    <div class="sidebar-container text-black-5">
        <p routerLink="overview" routerLinkActive="active">Overview</p>
        <p>Quickstart</p>
        <p>Airtime wallet</p>
        <p>Countries</p>
        <p>Operators</p>
        <p>FX Rates</p>
        <p>Commissions and Discounts</p>
        <p>Promotions</p>
        <p>Top-ups</p>
        <p>Number Lookup</p>
        <p>Transactions</p>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>