<div class="page">
    <section class="hero-section row col-12 align-items-start">
        <div class="col-6 left-content">
            <h2 class="section-heading text-black-1">Welcome</h2>
            <p class="section-description text-black-5">
                Reloadly offers a unified API to access many similar online services such as
            </p>
            <p class="section-description text-black-5">
                <span class="text-purple-1">Airtime top-ups</span>, <span class="text-purple-1">Gift Cards</span> and
                <span class="text-purple-1">Utility Payments</span>.
            </p>
            <h3 class="section-subheading text-black-1">Airtime</h3>
            <p class="section-description-2 text-black-5">
                Integrate airtime top-ups to your web or mobile applications.
            </p>
            <button class="button-primary">Get started with Airtime</button>
            <div class="tags d-flex align-items-center justify-content-start text-black-5">
                <p>Make a top-up</p>
                <p>Explore discounts</p>
                <p>Browse operators</p>
            </div>
        </div>
        <div class="col-6">
            <div class="icon"><img alt="hero section image" src="assets/images/home/hero-section.svg" />
            </div>
        </div>
    </section>

    <section class="explore-section pad-right">
        <div>
            <h3 class="text-black-4">Explore Reloadly</h3>
            <div class="d-flex justify-content-start">
                <div class="explore-item col-4">
                    <h4 class="text-black-3 d-flex align-items-center">
                        <img src="assets/images/home/docs.svg" />
                        Docs
                    </h4>
                    <p class="text-black-5">Quickstart</p>
                    <p class="text-black-5">API reference</p>
                    <p class="text-black-5">Use-case specific guides</p>
                </div>
                <div class="explore-item col-4">
                    <h4 class="text-black-3 d-flex align-items-center">
                        <img src="assets/images/home/tool.svg" />
                        Tools
                    </h4>
                    <p class="text-black-5">Sandbox</p>
                    <p class="text-black-5">SDKs</p>
                    <p class="text-black-5">Postman Collection</p>
                </div>
                <div class="explore-item col-4">
                    <h4 class="text-black-3 d-flex align-items-center">
                        <img src="assets/images/home/support.svg" />
                        Support
                    </h4>
                    <p class="text-black-5">Reloadly Developer Community</p>
                    <p class="text-black-5">Contact us</p>
                </div>
            </div>
        </div>

    </section>

    <section class="summary-section pad-right">
        <div class="row col-12 align-items-start justify-content-between">
            <div class="segments col-5 d-flex flex-column align-items-start justify-content-between">
                <div class="image">
                    <img src="assets/images/home/giftcard_illustration.png" />
                    <div class="overlay"></div>
                </div>
                <h4 class="text-black-3 d-flex align-items-center">
                    <img alt="giftcard" src="assets/images/home/gift.svg" />
                    Gift Cards
                </h4>
                <p class="description text-black-3">
                    Seamlessly integrate our various giftcard products to your applications and employ various product
                    use
                    cases.
                </p>
                <a class="text-purple-1">
                    Gift card docs
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">KEY CONCEPTS</p>
                <p class="text text-black-5">
                    <img alt="arrow" src="assets/images/home/arrow-right-circle.svg" />
                    <span>Order a gift card</span>
                </p>
                <p class="text text-black-5">
                    <img alt="arrow" src="assets/images/home/arrow-right-circle.svg" />
                    <span>View all gift card products</span>
                </p>
            </div>
            <div class="segments col-5 d-flex flex-column align-items-start">
                <div class="image">
                    <img src="assets/images/home/bill_illustration.png" />
                    <div class="overlay"></div>
                </div>
                <h4 class="text-black-3 d-flex align-items-center">
                    <img alt="battery" src="assets/images/home/battery-charging.svg" />
                    Utility payments
                </h4>
                <p class="description text-black-3">
                    Enable your users to access a vast collection of bill payment providers suited to various niches and
                    regions.
                </p>
                <a class="text-purple-1">
                    Utility Payment Docs
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">KEY CONCEPTS</p>
                <p class="text text-black-5">
                    <img alt="arrow" src="assets/images/home/arrow-right-circle.svg" />
                    <span>Make a utility payment</span>
                </p>
                <p class="text text-black-5">
                    <img alt="arrow" src="assets/images/home/arrow-right-circle.svg" />
                    <span>View all utility payment providers</span>
                </p>
            </div>
        </div>

    </section>

    <section class="plugin-section pad-right row col-12">
        <div class="col-6 images d-flex align-items-start justify-content-between">
            <div class="plugin-image image-1"><img src="assets/images/home/plugin-1.png" /></div>
            <div class="plugin-image image-2"><img src="assets/images/home/plugin-2.png" /></div>
            <div class="plugin-image image-3"><img src="assets/images/home/plugin-3.png" /></div>
        </div>
        <div class="col-5">
            <h3 class="text-black-3">Plugin</h3>
            <p class="text-black-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae lorem sit amet sem placerat
                dignissim at ac neque.
            </p>
            <p class="text-black-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae lorem sit amet sem placerat
                dignissim at ac neque.
            </p>
            <button class="button-primary">
                Integrate the Airtime Widget
                <img src="assets/images/home/white-arrow.svg" />
            </button>
        </div>
    </section>

    <section class="experience-section pad-right">
        <div class="box bg-blue-2 row col-12 align-items-end">
            <div class="col-6">
                <h3 class="text-white">Experience limitless testing.</h3>
                <p class="text-white">
                    We want to ensure your transition from development to production is seamless all the way.
                </p>
            </div>
            <div class="col-5">
                <button class="button-primary">
                    See our postman collection
                    <img src="assets/images/home/white-arrow.svg" />
                </button>
            </div>
        </div>
    </section>

    <app-footer></app-footer>
</div>