<div class="page">
    <section class="hero-section row col-12 align-items-start">
        <div class="col-6">
            <h2 class="section-heading text-black-1">Documentation</h2>
            <p class="section-description text-black-5">Explore our guides and examples to integrate Reloadly.</p>
            <h3 class="section-subheading text-black-1">Airtime</h3>
            <p class="section-description text-black-5">Integrate airtime top-ups to your web or mobile
                applications.</p>
            <button class="button-primary">Get started</button>
            <div class="tags d-flex align-items-center justify-content-start text-black-5">
                <p>Local top-ups</p>
                <p>International top-ups</p>
                <p>Regional Operators</p>
            </div>
        </div>
        <div class="col-6">
            <div class="icon"><img alt="hero section image"
                    src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/Hero_illustration_2x_fdxj3p.png" />
            </div>
        </div>
    </section>

    <section class="summary-section bg-grey-2 row col-12 align-items-start justify-content-between">
        <div class="segments col-5 d-flex flex-column align-items-start">
            <div class="image">
                <img src="assets/images/home/giftcard.png" />
                <div class="overlay"></div>
            </div>
            <h4 class="text-black-3 d-flex align-items-center">
                <img alt="giftcard" src="assets/images/home/gift.svg" />
                Gift Cards
            </h4>
            <p class="description text-black-3">
                Seamlessly integrate our various giftcard products to your applications and employ various product use
                cases.
            </p>
            <a class="text-purple-1">
                Gift card docs
                <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
            </a>
            <p class="text text-black-5">KEY CONCEPTS</p>
            <p class="text text-black-5">
                <img alt="arrow" src="assets/images/home/green-background-arrow.svg" />
                <span>Order a gift card</span>
            </p>
            <p class="text text-black-5">
                <img alt="arrow" src="assets/images/home/green-background-arrow.svg" />
                <span>View all gift card products</span>
            </p>
        </div>
        <div class="segments col-5 d-flex flex-column align-items-start">
            <div class="image">
                <img src="assets/images/home/utility.png" />
                <div class="overlay"></div>
            </div>
            <h4 class="text-black-3 d-flex align-items-center">
                <img alt="battery" src="assets/images/home/battery-charging.svg" />
                Utility payments
            </h4>
            <p class="description text-black-3">
                Enable your users to access a vast collection of bill payment providers suited to various niches and
                regions.
            </p>
            <a class="text-purple-1">
                Utility Payment Docs
                <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
            </a>
            <p class="text text-black-5">KEY CONCEPTS</p>
            <p class="text text-black-5">
                <img alt="arrow" src="assets/images/home/green-background-arrow.svg" />
                <span>Make a utility payment</span>
            </p>
            <p class="text text-black-5">
                <img alt="arrow" src="assets/images/home/green-background-arrow.svg" />
                <span>View all utility payment providers</span>
            </p>
        </div>
    </section>

    <section class="explore-section">
        <h3>Explore Reloadly</h3>
        <div>
            <div>
                <h4>
                    <img />
                    Docs
                </h4>
                <p>Quickstart</p>
                <p>API reference</p>
                <p>Use-case specific guides</p>
            </div>
            <div>
                <h4>
                    <img />
                    Tools
                </h4>
                <p>Sandbox</p>
                <p>SDKs</p>
                <p>Postman Collection</p>
            </div>
            <div>
                <h4>
                    <img />
                    Support
                </h4>
                <p>Reloadly Developer Community</p>
                <p>Contact us</p>
            </div>
        </div>
    </section>
</div>