<div class="page">
    <section class="hero-section">
        <div class="row col-12 align-items-start">
            <div class="col-6">
                <h2 class="section-heading text-black-1">Documentation</h2>
                <p class="section-description text-black-5">Explore our guides and examples to integrate Reloadly.</p>
                <h3 class="section-subheading text-black-1">Airtime</h3>
                <p class="section-description text-black-5">Integrate airtime top-ups to your web or mobile
                    applications.</p>
                <button>Get started</button>
                <div class="tags d-flex align-items-center justify-content-start text-black-5">
                    <p>Local top-ups</p>
                    <p>International top-ups</p>
                    <p>Regional Operators</p>
                </div>
            </div>
            <div class="col-6">
                <div class="icon"><img alt="hero section image"
                        src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/Hero_illustration_2x_fdxj3p.png" />
                </div>
            </div>
        </div>
    </section>
</div>