<div class="overview-page">
    <section class="hero-section-1 bg-white d-flex flex-column align-items-start">
        <h2 class="text-black-1">Airtime</h2>
        <p class="page-description text-black-5">
            Discover resources to integrate Reloadly’s airtime APIs.
        </p>
        <div class="external-content text-black-5">
            <span>
                Not ready to make the push to production yet? Check out alternatives for getting started
            </span>
            <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
        </div>
    </section>

    <section class="bg-white section-type-1">
        <h3 class="text-black-3">Popular guides</h3>
        <div class="section-list">
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/airtime/overview/make-topup.png" />
                </div>
                <a class="text-purple-1">
                    Make a top-up
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    Build an airtime top-up form or use a prebuilt top-up solution to make airtime top-ups.
                </p>
                <p class="text text-black-2">Airtime</p>
            </div>
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/airtime/overview/airtime-discounts.png" />
                </div>
                <a class="text-purple-1">
                    Access airtime discounts
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    View local and international discounts available to every operator.
                </p>
                <p class="text text-black-2">Commissions</p>
            </div>
            <div class="section-item">
                <div class="image">
                    <img src="assets/images/airtime/overview/mobile-number.png" />
                </div>
                <a class="text-purple-1">
                    Handle mobile number portability
                    <img alt="arrow" src="assets/images/home/purple-arrow.svg" />
                </a>
                <p class="text text-black-5">
                    Instantly detect phone numbers that have been ported.
                </p>
                <p class="text text-black-2">Number lookup</p>
            </div>
        </div>
    </section>

    <section class="bg-white section-type-2">
        <h3>Clone a sample project</h3>
        <div class="section-list">
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Build an airtime top-up app</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Web</span>
                    ·
                    <span>Svelte</span>
                    ·
                    <span>Node JS</span>
                </p>
            </div>
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Build a discount viewer app</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Web</span>
                    ·
                    <span>Vue</span>
                    ·
                    <span>Python</span>
                </p>
            </div>
            <div class="section-item d-flex flex-column align-items-start justify-content-between">
                <h4 class="text-black">Send airtime promo notifications</h4>
                <p class="text-black-5">
                    <img src="assets/images/github.svg" />
                    <span>Mobile</span>
                    ·
                    <span>React Native</span>
                </p>
            </div>
        </div>
        <a class="external-link text-purple-1 d-flex align-items-center">
            View all on GitHub
            <img alt="external link" src="assets/images/external-link.svg" />
        </a>
    </section>

    <div class="skewed-section">
        <section class="section-type-3">
            <h3>After making a top-up</h3>
            <div class="section-list">
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/topup-status.svg" />
                    </div>
                    <h4 class="text-black-5">Retrieve top-up status</h4>
                    <p class="text-black-5">
                        Track the status of a toap-up in real time.
                    </p>
                </div>
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/transaction-data.svg" />
                    </div>
                    <h4 class="text-black-5">View transaction data</h4>
                    <p class="text-black-5">
                        Sieve through transaction data for every top-up made.
                    </p>
                </div>
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/decline.svg" />
                    </div>
                    <h4 class="text-black-5">Handling declines</h4>
                    <p class="text-black-5">
                        Learn more about causes and how to prevent them.
                    </p>
                </div>
            </div>
        </section>

        <section class="more-section">
            <h3>More guides</h3>
            <div class="more-list">
                <div class="link-item text-purple-1 d-flex flex-column align-items-start">
                    <h4 class="text-black-2">Integrations</h4>
                    <a>Countries</a>
                    <a>Operators</a>
                    <a>FX Rate</a>
                    <a>Promotions</a>
                    <a>Top-ups</a>
                    <a>Transactions</a>
                    <a>Number lookup</a>
                </div>
                <div class="link-item text-purple-1 d-flex flex-column align-items-start">
                    <h4 class="text-black-2">Tools</h4>
                    <a>Postman Collection</a>
                    <a>Sandbox</a>
                    <a>SDKs</a>
                    <a>Plugins</a>
                </div>
                <div class="link-item text-purple-1 d-flex flex-column align-items-start">
                    <h4 class="text-black-2">Products</h4>
                    <a>Airtime</a>
                    <a>Gift Cards</a>
                    <a>Utility Payments</a>
                </div>
            </div>
        </section>

        <app-quickstart-box></app-quickstart-box>

        <app-footer [showLikeDisLikeButtons]="true"></app-footer>

        <!-- background -->
        <div class="background bg-grey-2"></div>

    </div>

</div>