<div class="overview-page">
    <section class="hero-section-1 bg-white d-flex flex-column align-items-start">
        <div class="sub-section d-flex align-items-start justify-content-between">
            <div class="left">
                <h2 class="text-black-1">Security</h2>
                <p class="page-description text-black-5">
                    Secure your integration process and learn about handling sensitive data.
                </p>
            </div>
            <div class="right">
                <img src="assets/images/security/overview/hero-image.svg" />
            </div>
        </div>
    </section>

    <div class="skewed-section">
        <section class="section-type-3">
            <div class="section-list">
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/security/overview/integration.svg" />
                    </div>
                    <h4 class="text-black-5">Integration security resouces</h4>
                    <p class="text-black-5">
                        Learn about infrastructure security at Reloadly.
                    </p>
                </div>
                <div class="section-item d-flex flex-column align-items-center">
                    <div class="image">
                        <img src="assets/images/airtime/overview/transaction-data.svg" />
                    </div>
                    <h4 class="text-black-5">Multi-factor Authentication</h4>
                    <p class="text-black-5">
                        Protect your data on the Reloadly dashboard with multiple layers of identity.
                    </p>
                </div>
            </div>
        </section>

        <app-footer [showLikeDisLikeButtons]="true"></app-footer>

        <!-- background -->
        <div class="background bg-grey-2"></div>
    </div>
</div>