<div class="main-section">
<div class="sub-section-1">
    <section>
    <article>
        <h1>Documentation</h1>
        <p>Explore our guides and examples to integrate Reloadly.</p>
    </article>
        <article>
            <h2>Airtime</h2>
            <p>Integrate airtime top-ups to your web and mobile applications<p>
            <button>Get started</button>
        </article>
    <nav>
        <button>Local top-ups</button>
        <button>International top-ups</button>
        <button>Regional Operators</button>
    </nav>
    </section>
    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/Hero_illustration_2x_fdxj3p.png"/>
</div>
    <div class="sub-section-2">
        <section>
            <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627308/Products_section_div_2x_qx95ar.png" />
            <article>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/gift_4_2x_gb5jkz.png"/>
                <h2>Gift Cards</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae lorem sit amet sem placerat dignissim at ac neque.</p>
                <a>Gift card docs 	&rarr; </a>
            </article>
                <h3>KEY CONCEPTS</h3>
                <nav>
                    <ul>
                        <li><a>Order a gift card</a></li>
                        <li><a>View all gift card products</a></li>
                    </ul>
                </nav>
        </section>
        <section>
            <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1651250772/products-section_n8phll.png" />
            <article>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/battery-charging_2x_roklxt.png"/>
                <h2>Utility Payments</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae lorem sit amet sem placerat dignissim at ac neque.</p>
                <a>Utility Payment Docs 	&rarr; </a>
            </article>
                <h3>KEY CONCEPTS</h3>
                <nav>
                    <ul>
                        <li><a>Make a utility payment</a></li>
                        <li><a>View all utility payment providers</a></li>
                    </ul>
                </nav>
        </section>
        </div>


        <div class="sub-section-3">
            <h2>Explore Reloadly</h2>
            <section>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/layout_1_2x_qqjczd.png"/>
                <h3>Docs</h3>
                <nav>
                    <ul>
                    <li><a>QuickStart</a></li>
                    <li><a>API Reference</a></li>
                    <li><a>Use-case specific guides</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627307/tool_2x_tohzdz.png"/>
                <h3>Tools</h3>
                <nav>
                    <ul>
                      <li><a>Sandbox</a></li>
                      <li><a>SDKs</a></li>
                      <li><a>Postman Collection</a></li>
                    </ul>
                </nav>
            </section>
            <section>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650646150/support_nugpdt.png"/>
                <h3>Support</h3>
                <nav>
                    <ul>
                      <li><a>Developer Community</a></li>
                      <li><a>FAQs</a></li>
                      <li><a>Contact us</a></li>
                    </ul>
                </nav>
            </section>
        </div>

        <div class="sub-section-4">
            <section class="sub-section-4-grid-images">
              <img class="sub-section-4-image-left" src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627307/Product_Giftcard2_2_2x_uuoh7w.png"/>
              <img class="sub-section-4-image-mid" src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627307/Pay_Giftcard_2_2x_maghen.png"/>
              <img class="sub-section-4-image-right" src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1651501908/All_Products_-_Giftcard_flow_6_2x_scv8z8.png"/>
            </section>
            <section class="sub-section-4-plugin-writeup">
                <h2>Plugin</h2>
                <article>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae lorem sit amet sem placerat dignissim at ac neque.</p> 
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae lorem sit amet sem placerat dignissim at ac neque.</p>
                </article>
                <button>Integrate Airtime Checkout &rarr; </button>
            </section>
        </div>


        <div class="sub-section-5">
            <h2>Explore Reloadly Products</h2>
            <section>
                <h3>Airtime</h3>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/bar-chart-2_1_2x_z9tf1b.png"/>
                    <h4>FX Rates</h4>
                    <p>Operator exchange rates</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/gift_3_2x_nr1a1a.png"/>
                    <h4>Promotions</h4>
                    <p>Airtime and data promotions</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/heart_1_2x_jac3wd.png"/>
                    <h4>Commissions</h4>
                    <p>Operator commissions and discounts</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627307/search_3_2x_jkdkh1.png"/>
                    <h4>Number Lookup</h4>
                    <p>Mobile number portability data</p>
                </div>
            </section>
            <section>
                <h3>Gift cards</h3>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627307/tag_2x_m7sif0.png"/>
                    <h4>Brands</h4>
                    <p>Gift card products and brands</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627305/file-text_2x_jt2v0t.png"/>
                    <h4>Redeem Instructions</h4>
                    <p>Redeem a gift card</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/percent_2x_myl9da.png"/>
                    <h4>Discounts</h4>
                    <p>Gift card discounts</p>
                </div>
                <div>
                    <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/activity_1_2x_p7wqeq.png"/>
                    <h4>Transactions</h4>
                    <p>Access transaction data</p>
                </div>
            </section>
        </div>

        <div class="sub-section-6">
            <h2>Experience limitless testing</h2>
            <section>
                <p> We want to ensure your transition from development to production is seamless all the way.</p>
                <button>Create a sandbox account &rarr; </button>
            </section>
        </div>


        <footer>
            <section>
                <div>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/mail_1_2x_xhiaxx.png"/>
                <p>Questions? <a>Contact us</a></p>
                </div>
                <div>
                <img src="https://res.cloudinary.com/reloadlydevelopers/image/upload/v1650627306/Group_2378_2x_tnygq7.png"/>
                <p>View developer tutorials on <a>Youtube</a></p>
                </div>
            </section>
            <section>
                <div>
                <p>Sign up for developer updates</p>
                <form>
                    <input type="text" placeholder="Email " name="email" id="footerEmail">
                    <input type="submit" value="Subscribe">
                </form>
                </div>
            </section>
        </footer>
</div>