<div class="page-content d-flex align-items-start justify-content-between">
    <div class="sidebar-container text-black-5">
        <p routerLink="./overview" routerLinkActive="active">Overview</p>
        <p routerLink="./general-security" routerLinkActive="active">General security</p>
        <p routerLink="./multi-factor-authentication" routerLinkActive="active">Multi-factor Authentication</p>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>