.second-section {
    .section-list {
        gap: 0 30px;
        .section-item {
            width: 40%;
            @media screen and(max-width:540px) {
                width: 100%;
            }
        }
    }
}
