<div class=" page d-flex align-items-start justify-content-between">
    <div class="sidebar-container text-black-5">
        <p routerLink="overview" routerLinkActive="active">Overview</p>
        <p>Get Started</p>
        <p>Dashboard</p>
        <p>No-code plugin</p>
        <p>Webhooks</p>
        <p>Sandbox (Test mode)</p>
        <p>Commissions & Discounts</p>
        <p>Explore integration options</p>
        <p>Guides and References</p>
        <p>Open-Source Projects</p>
        <p>Checklist for going live</p>
        <p>Error Codes</p>
        <p>API Changelog</p>
    </div>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</div>