<div class="page overview-page">

    <section class="hero-section-1 bg-white d-flex flex-column align-items-start">
        <h2 class="text-black-1">Explore all products</h2>
        <p class="page-description text-black-5">
            Discover resources to integrate Reloadly’s airtime APIs.
        </p>
        <div class="external-content text-black-5">
            <span>
                Learn about use cases by browsing through each product segment.
            </span>
        </div>
    </section>

    <section class="products-section">
        <div class="d-flex flex-wrap align-items-stretch justify-content-between">
            <div class="product-list bg-grey-2">
                <h3>Airtime</h3>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/airtime-operators.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Operators</p>
                        <p class="description text-black-5">Discover resources to integrate Reloadly’s airtime APIs</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/fx-rate.svg" />
                    <div class="details">
                        <p class="title text-purple-1">FX Rates </p>
                        <p class="description text-black-5">Airtime and data operators</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/heart.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Commissions</p>
                        <p class="description text-black-5">Operator exchange rates</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/gift.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Promotions</p>
                        <p class="description text-black-5">Operator commissions and discounts</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/activity.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Transactions</p>
                        <p class="description text-black-5">Airtime and data promotions</p>
                    </div>
                </div>
            </div>
            <div class="product-list bg-white">
                <h3>Gift cards</h3>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/tag.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Brands</p>
                        <p class="description text-black-5">Gift card products and brands</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/percent.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Discounts</p>
                        <p class="description text-black-5">Gift card discounts</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/archive.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Orders</p>
                        <p class="description text-black-5">Purchase a gift card</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/gift.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Promotions</p>
                        <p class="description text-black-5">Operator commissions and discounts</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/file-text.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Redeem Instructions</p>
                        <p class="description text-black-5">Redeem a gift card</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/activity.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Transactions</p>
                        <p class="description text-black-5">Access transaction data on purchased gift cards</p>
                    </div>
                </div>
            </div>
            <div class="product-list bg-grey-2">
                <h3>Utility Payments</h3>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/billers.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Billers</p>
                        <p class="description text-black-5">Gift card products and brands</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/credit-card.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Pay Bills</p>
                        <p class="description text-black-5">Gift card discounts</p>
                    </div>
                </div>
                <div class="product-item d-flex align-items-start justify-content-start">
                    <img src="assets/images/all-products/activity.svg" />
                    <div class="details">
                        <p class="title text-purple-1">Transactions</p>
                        <p class="description text-black-5">Purchase a gift card</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="">
        <app-footer [showLikeDisLikeButtons]="true"></app-footer>
    </div>
</div>