.page {
    width: 100%;
    padding: 60px var(--side-padding);
    .products-section {
        width: 90%;
        @media screen and(max-width:768px) {
            width: 100%;
        }
        .product-list {
            width: 30%;
            padding: 22px 24px;
            border-radius: 8px;
            @media screen and(max-width:768px) {
                width: 33%;
            }
            @media screen and(max-width:675px) {
                width: 100%;
            }
            h3 {
                font-weight: 500;
                font-size: 24px;
                margin-bottom: 30px;
            }
            .product-item {
                margin-bottom: 16px;
                img {
                    width: 16px;
                    margin-top: 5px;
                }
                .details {
                    margin-left: 16px;
                    .title {
                        font-weight: 450;
                        font-size: 18px;
                    }
                    .description {
                        font-weight: 400;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .pad-right {
        padding-right: var(--side-padding) !important;
    }
}
